/* COMMON */
body{
    font-family: 'Inter', sans-serif;
}
.section_text_p{
    text-align: center;
    color: #748099;
    font-size: 17px;
}
.ms_text_p{
    font-size: 15px;
    color: #748099;
}
.section_text_h2{
    text-align: center;
    font-weight: 700;
    color:#152c5b;
}
.ms_text_h5{
    color: #152c5b;
    font-weight: 700;
    font-size: 15px; 
}
.ms_text_a{
    color: #00d7d2;
}
ul{
    list-style-type: none;
    padding: 0;
}

/* HEADER */

/* Nav */
nav{
    padding: 10px 0px;
}

/* Logo */
nav .ms_logo{
    display: block;
    width: 130px;
}
nav .ms_nav_menu ul{
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 0;
}
nav .ms_nav_menu ul li{
    display: inline;
    margin-right: 10px;
}
nav .ms_nav_menu ul li a{
    line-height: 26px;
    color: #061f50;
    font-weight: 600;
}
nav .ms_nav_menu ul li a:hover{
    color: #0d72ff;
    text-decoration: none;
}
nav .ms_nav_menu i{
    margin-left: 2px;
}
.nav_center{
    padding-left: 65px;
}

/* Nav right */
nav .nav_right{
    text-align: right;
}

/* Nav button */
nav .nav_right .nav_btn{
    display: inline-block;
    
}
nav .nav_right .nav_btn a{
    color:  #0d72ff;
    border: 1px solid #0d72ff;
    padding: 5px 8px;
    border-radius: 3px;
}
nav .nav_right .nav_btn a:hover{
    background-color:#0d72ff; 
    color: white;
}

/* Burger menu */
.burger_menu{
    text-align: right;
    font-size: 26px;
    color: #0d72ff;
}

/* Jumbotron */
header .ms_jumbotron{
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    padding: 50px 0px;
}
header .ms_jumbotron .ms_text{
    color: white;
}
header .ms_jumbotron .ms_text h1{
    font-size: 50px;
    font-weight: 600;
}
header .ms_jumbotron .ms_text p{
    font-size: 18px;
    opacity: 0.7;
}

/* Form section */
header .ms_jumbotron .form_wrapper{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}
header .ms_jumbotron .form_wrapper .heading_form h3{
    text-align: center;
    color:#152c5b;
    font-weight: 800;
}
header .ms_jumbotron .form_wrapper .heading_form h3:last-child{
    color: #016bff;
    margin-top: 0;
}
.content_form input{
    width:100%;
    margin: 6px 0px;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #e5e8ed;;
}
.content_form input::placeholder{
    color: #1a1a1a;
}

/* Create your account section */
header .ms_jumbotron .form_wrapper .account_btn input{
    width: 100%;
    background-color: #579aff;
    color: white;
    margin: 6px 0px;
    padding: 5px 0px;
    border-radius: 3px;
    border: 1px solid #579aff;
}
header .ms_jumbotron .form_wrapper .account_btn input:hover{
    background-color: #0046a8;
}

/* Google account section */
header .ms_jumbotron .form_wrapper .google_btn img{
    width:20px;
    float: left;
}
header .ms_jumbotron .form_wrapper .google_btn{
    position: relative;
    background-color: white;
    width: 100%;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #e5e8ed;
    box-shadow: 1px 1px lightgray;
}
header .ms_jumbotron .form_wrapper .google_btn:hover{
    color: black;
}
/* Therms of service */
.therms{
    text-align: center;
    margin-top:10px;
    font-size: 10px;
}
.therms a{
    text-decoration-line:underline;
}
/* HEADER END */

/* MAIN */

/* Logo section */
.logo_section{
    text-align: center;
    background-color: #f3f5f9;
    padding: 30px 0px;
}
.logo_heading{
    text-transform: uppercase;
    color: #748099;
}
.logo_heading h5{
    font-size: 15px;
}
.logo_section img{
   width: 100%;
   height: 150px;
}

/* Management section */
.management_section{
    padding: 40px 0px;
}

/* Wrapper */
.wrapper{
    padding: 25px 0px;
    width: 85%;
    margin: 0 auto;
}

/* Manage menu */
.manage_menu{
    border-left: 2px solid #dfdfdf;
}
.manage_menu ul{
    list-style-type: none;
    padding-left: 7px;
    margin-bottom: 20px;
}
.manage_menu ul li{
    margin-bottom: 10px;
   padding: 5px 0px;
}
.manage_menu ul li a{
    color: #748099;
    font-size: 15px;
}

/* Contents */
.contents{
    margin-bottom: 20px;
}
.contents img{
    margin-bottom: 10px;
}
.contents p{
    text-align: left;
}

/* Slide Section */
.slide_section{
    background-color: #f3f5f9;
    padding-top: 40px;
}
.slide_section h2{
    padding-bottom: 10px;
}

/* Wrapper */
.wrapper_small{
    text-align: center;
    padding: 40px 0px;
}
.wrapper_small img{
    width: 50%;
    margin: auto;
}
.wrapper_small .slide_contents a{
    margin: 0px 20px;
    font-size: 30px;
    color:#152c5b;
}
.wrapper_small .slide_contents a:first-child{
    color: #748099;;
}

/* Slide bottom */
.slide_bottom{
    padding: 10px 0px;
}
.slide_bottom p{
    color: #748099;
    font-size: 10px;
    font-weight: 700;
}
.slide_bottom ul{
    list-style-type: none;
    display: inline-block;
    padding: 0;
}
.slide_bottom ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid #3a91fd;
    border-radius: 50%;
}
.slide_bottom ul li:first-child{
    background-color:#004aff ;
}
.slide_bottom ul li:hover{
    cursor: pointer;
}

/* Features section */
.features_section{
    padding: 40px 0px;
}
.features_section img{
    width:30px;
    margin-bottom: 10px;
}
.features_contents{
    padding-top: 20px;
}

/* Customers section */
.customers_section{
    padding: 40px 0px;
    background-image: linear-gradient(#0047c5, #00209b);
    color: white;
}
.wrapper_grid{
    margin-bottom: 20px;
    padding-right: 10px;
}
.grid{
    font-size: 12px;
    padding: 0px 10px;
    overflow: hidden;
}
.customers_section h2{
    text-align: center;
    font-weight: 700;
    color:white;
    padding-bottom: 10px;
}
.customers_section p{
    opacity: 0.7;
}
.customers_section .ms_text_a i{
    padding-left: 7px;
}
.underline{
    border-bottom: 1px solid white;
}

/* Development section */
.box_area{
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    border-radius: 3px;
    width: 45%;
    margin-bottom: 10px;
}
.box_area img{
    margin-top: 40px;
    margin-bottom: 20px;
}
.box_area p:nth-child(3) {
    color: #152c5b;
    font-weight: 700;
}
.box_area p:nth-child(4) {
    color: #152c5b;
    font-weight: 600;
    line-height: 0px;
}
.wrapper_small .slide_contents .box_area a{
    display: block;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #00d7d2;
    font-size: 14px;
}

/* Account section */
.ms_btn{
    text-align: center;
    padding: 20px 0px;
}
.ms_btn a{
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px 10px;
    color: #00d7d2;
    font-weight: 600;
}
.ms_btn a:hover{
    text-decoration: none;
}
/* MAIN END*/

/* FOOTER */
/* Background */
.footer_bg{
    background-color: #031c4e;
    padding: 35px 0px;
    color: white;
}

/* Left column */
.left_contents{
    opacity: 0.6;
}

/* Logo */
.left_contents img{
    width:40px;
    padding-bottom: 7px;
}
.left_contents p{
    font-size: 12px;
}
.left_contents p:nth-child(3){
    font-size: 10px;
    line-height: 0px;
    opacity: 0.4;
    padding-bottom: 10px;
}

/* Menu social */
.menu_social ul li{
    display: inline-block;
}
.menu_social ul li a{
    color: white;
    opacity: 0.7;
    margin-right: 5px;
}

/* Right column */

/* Company column */
.info_data{
    margin-top: 15px;
}
.title_data{
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}
.info_data ul li {
    margin-bottom: 5px;
}
.info_data ul li a{
    font-size: 12px;
    color: white;
    opacity: 0.6;
}

/* Shark bot */
.nav_bot{
    position: fixed;
    bottom: 26px;
    right: 90px;;
}
/* Box message */
.box_msg{
    width: 250px;
    color: #112857;
    background-color: white;
    border: 1px solid #112857;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
}
.box_msg p{
    margin: 0;
}
.ms_chevron {
    position: absolute;
    top: 10px;
    right: -8px;
    font-size: 30px;
}
/* Bot */
.box_bot{
    height:50px;
    width:50px;
    background-color:#006aff;
    border-radius:5px;
    position:fixed;
    right: 25px;
    bottom: 25px;
}
.box_bot img{
    width: 50px;
    margin-top:20px;
    animation: move 1.5s ease-in-out infinite alternate;
    animation-delay: -0.4s;
} 
.circle{
    height:26px;
    width:26px;
    background-color:white;
    border-radius:50%;
    position:absolute;
    bottom:35px;
    left:35px;
} 
.circle_sm{
    height:20px;
    width:20px;
    background-color:red;
    border-radius:50%;
    position:absolute;
    bottom:56%;
    left:95%;
    transform: translate(-50%, -50%);
}
.circle_sm span{
    font-size: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* FOOTER END*/

/* Extra */
@keyframes move {
   
    from {
      transform:translateY(-35%)
    }

    to{
      transform:translateY(35%)
    }
}


/* MEDIA QUERY */

/* HEADER */

/* Nav */
@media all and (max-width: 991px) {
    nav .ms_logo{
        width: 200px;
    }
}

/* MAIN */

/* Slide section */
@media all and (max-width: 767px) {
    .wrapper_small .slide_contents a{
        display: none;
    }
}