/* COMMON */
body{
    font-family: 'Inter', sans-serif;
}

/* HEADER */
/* Nav */
nav .ms_logo{
    display: block;
    width: 170px;
}

/* Jumbotron */
header .ms_jumbotron{
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    /* Test */
    height: 550px;
}

/* HEADER END */


/* MEDIA QUERY */

/* HEADER */
/* Nav */
@media all and (max-width: 991px) {
    nav .ms_logo{
        width: 200px;
    }
}