/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* COMMON */
body{
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0px 20px;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

/* HEADER */
.wrapper_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

/* Logo */
.logo img{
    width: 170px;
}

/* Menu nav */
.menu ul{
    display: flex;
    flex-direction: row;
}
.menu li{
    padding-right: 10px;
}

.menu li a{
    color: black;
    font-size: 13px;
    font-weight: 600;
}

.menu li a:hover{
    color: #016bff;
}

.menu li a i{
    vertical-align: text-bottom;
    padding-left: 5px;
}

/* Log-in button */
.menu .nav_btn a{
    color:  #0d72ff;
    border: 1px solid #0d72ff;
    padding: 5px 8px;
    border-radius: 3px;
}

/* Jumbotron */
.jumbotron{
    background-image: url("../img/ms-jumbo.jpg");
    background-size: cover;
    padding: 50px 0px;
}

.jumbotron .wrapper_flex{
    justify-content: space-around;
}

.main_heading{
    color: white;
    width: 50%;
}

.main_heading h1{
    font-size: 50px;
}

.main_heading p{
    margin-top: 10px;
    font-size: 18px;
    opacity: 0.5;
}

/* Form section */
.form_wrapper{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.form_wrapper .heading_form h3{
    text-align: center;
    color:#152c5b;
    font-weight: 800;
}

.form_wrapper .heading_form h3:last-child{
    color: #016bff;
    margin-top: 0;
}

.content_form input{
    width:100%;
    margin: 6px 0px;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #e5e8ed;;
}

.content_form input::placeholder{
    color: #1a1a1a;
}

/* Create your account section */
.form_wrapper .account_btn input{
    width: 100%;
    background-color: #579aff;
    color: white;
    margin: 6px 0px;
    padding: 5px 0px;
    border-radius: 3px;
    border: 1px solid #579aff;
}
.form_wrapper .account_btn input:hover{
    background-color: #0046a8;
}

/* Google account section */
.form_wrapper .google_btn img{
    width:20px;
    float: left;
}
.form_wrapper .google_btn{
    position: relative;
    background-color: white;
    width: 100%;
    padding: 5px 5px;
    border-radius: 3px;
    border: 1px solid #e5e8ed;
    box-shadow: 1px 1px lightgray;
}

.form_wrapper .google_btn:hover{
    color: black;
}

/* Therms of service */
.therms{
    text-align: center;
    margin-top:10px;
    font-size: 10px;
}
.therms a{
    text-decoration-line:underline;
}

/* HEADER END */

/* MAIN */
.sponsor_section{
    text-align: center;
    background-color: #f3f5f9;
    padding: 30px 0px;
}

.sponsor_section h5{
    font-size: 15px;
    color: #748099;
}